__pycache__/
.venv/

.DS_Store

logs/
repos/
output/

*.xlsx
*.json

search/input/PAT.txt
search/input/included_repos.txt
search/input/excluded_repos.txt
search/input/words.txt
search/repos_last_update.txt
